# Copyright (c) Abstract Machines
# SPDX-License-Identifier: Apache-2.0

name: Go
on: [push]
jobs:
  build:
    name: Build
    runs-on: ubuntu-latest
    steps:

    - name: Set up Go 1.24.x
      uses: actions/setup-go@v6
      with:
        go-version: 1.24.x
      id: go

    - name: Check out the code into the Go module directory
      uses: actions/checkout@v5

    - name: Lint
      uses: golangci/golangci-lint-action@v9
      with:
        version: v2.1.6
        args: --config .golangci.yml

    - name: Test
      run: go test -v -race -coverprofile=coverage.txt -covermode=atomic ./...

    - name: Upload coverage
      uses: codecov/codecov-action@v5.5.1
      with:
        token: ${{ secrets.CODECOV_TOKEN }}
